modules = ["nodejs-20", "web", "nix", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_SECRET = "d9489b4ed0f47700d75d847ba7b3908c486b67cc2955358207d8746840a55fe3d65c86ccbb283c3bcb784caa20bc683100e4aba874fd8851e701c0dbf92084e5"

[deployment]
run = ["sh", "-c", "Usuwjd"]
deploymentTarget = "cloudrun"
