@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 221.2 83.2% 53.3%;
    --primary-rgb: 59, 130, 246;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 84% 4.9%; /* Dark Blue-Gray */
    --foreground: 210 40% 98%; /* Almost White */
 
    --card: 222 84% 9.9%; /* Slightly Lighter Dark Blue-Gray */
    --card-foreground: 210 40% 98%;
 
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 160 100% 70%; /* Bright Cyan/Mint */
    --primary-rgb: 100, 255, 218;
    --primary-foreground: 222 84% 4.9%; /* Dark Blue for text on primary */
 
    --secondary: 217.2 32.6% 17.5%; /* Darker Blue */
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%; /* Lighter Gray */
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 160 100% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   .bg-grid-slate-700\/30 {
    background-image: linear-gradient(hsl(var(--muted-foreground)) 1px, transparent 1px), linear-gradient(to right, hsl(var(--muted-foreground)) 1px, transparent 1px);
    background-size: 4rem 4rem;
    background-color: transparent;
    opacity: 0.05;
  }
}
